<img class="image">
<nav> 
    <mat-list>
        <ul>
            <div>
                <mat-divider ></mat-divider>
                <li >
                    <a mat-list-item routerLink="/home"><mat-icon>home</mat-icon>Home</a>
                </li>
                <mat-divider class="matVisibility"></mat-divider>
            </div>
            <div>
                <mat-divider></mat-divider>
                <li>
                    <a mat-list-item routerLink="/my-projects"  ><mat-icon>folder</mat-icon>Myprojects</a>
                </li>
                <mat-divider  class="matVisibility"></mat-divider>
            </div>
            <div>  
                <mat-divider></mat-divider>
                <li>
                    <a mat-list-item routerLink="/my-allstories" ><mat-icon> notes</mat-icon> Mystories</a>
                </li>
                <mat-divider class="matSpace"></mat-divider>
            </div>
            <div>
                <mat-divider></mat-divider>
                <li>
                    <a mat-list-item routerLink="/user"><mat-icon>person</mat-icon>User profile</a>
                </li>
                <mat-divider></mat-divider>
            </div>
        </ul>
    </mat-list>
</nav>