@import "/src/assets/styles/general.scss";
form{
    font-size: 15px;
    margin-left: 15%;
    font-family: $font;
}
//buttons
div{
    margin-left: 15%;
}
button{
    margin-right: 3%;
}
.container{
    margin: 10%;
    margin-left: 0%;
    justify-content: $centered;
    text-align: center;
    align-items: center;
    //display:flex;
}
p{
    color:black;
}
.minText{
    font-size: 10px;
}