<section>
    <article>
        <div class="container" >
            <div class="boxSpinner">
            <mat-spinner  id="spinner"></mat-spinner>
            </div>
            <div id="box"  class="box">
                <ul *ngFor="let u of stories">
                    <li>
                        <div>
                            <a routerLink="/my-allstories/{{u.id}}"><p class="text">{{u.name}}</p></a>      
                        </div>
                    </li>  
                </ul>
                <div  *ngIf=" lengthStories === 0">
                    <p class="noItems">No hay User Stories</p>
                </div>
            </div>
        </div>
    </article>
</section>