<div class="container" >
    <section>   
        <article>
            <div class="boxSpinner">
                <mat-spinner  id="spinner"></mat-spinner>
            </div>  
        </article>
        <div id="box" class="box" *ngFor="let s of story">
            <article>
                <ul>
                    <li>
                        <div>
                            <div class="check">
                                <div>
                                    <p>{{s.description}}</p>    
                                </div>
                            </div>
                            <div class="boxAddButton">
                                <button color="basic"  mat-raised-button (click)="openDialogAddTask()"><mat-icon>note_add</mat-icon></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
            <article>  
                <ul *ngFor="let t of tasks">
                    <li>
                        <div>
                            <div class="check">
                                <label for="">
                                    <input type="checkbox" (click)="completeTask(t)">
                                </label>
                                <div>
                                    <p [ngClass]="t.done ? 'line-through' : ''">{{t.name}}</p>  
                                    <p [ngClass]="t.done ? 'line-through' : ''">{{t.description}}</p> 
                                </div>
                            </div>
                            <div>
                                <button color="basic" mat-raised-button (click)="openDialogDeleteTask(t)"><mat-icon>delete_forever</mat-icon></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
            <article>
                <div class="Nolength" *ngIf="lengthTasks === 0">
                    <p class="noItems">No hay Tareas</p>
                </div>
            </article>
        </div>
    </section>    
</div>