<section>
    <article>
        <form  [formGroup]="myForm" (submit)="onSubmit()">
            <mat-form-field>
                <label for="nombre"></label>
                <input matInput class="name" id="name" type="text" placeholder="Nombre" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <label for="description"></label>
                <input matInput class="description" id="description" type="text" placeholder="Descripción"  formControlName="description">
            </mat-form-field>
            <mat-form-field>
                <label for="due"></label>
                <input matInput class="due" id="due" type="date" placeholder="Fecha limite"  formControlName="due">
            </mat-form-field>
            <mat-form-field>
                <label for="done"></label>
                <mat-select class="done" id="done" placeholder="Estado"  formControlName="done">
                    <mat-option value="false">Incompleta</mat-option>
                    <mat-option value="true" >Finalizada</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div>
            <button  color="primary" mat-raised-button (click)="onSubmit()" type="submit">Agregar</button>
            <button  color="warn"    mat-raised-button (click)="cancel()" >Cancelar</button>
        </div>
    </article>
</section>