@import "/src/assets/styles/general.scss";
div{
    margin-top:10%;
    margin-bottom:10%;
    display:flex;
    justify-content: center;
}
img{
    background-image: url("../../../../assets//images//mantenimiento.jpeg");
    width: 50vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    //background-position-x: ;
    background-size: contain;
    
}