$negro:  black;
$blanco:  white;
/* You can add global styles to this file, and also import other style files */
body{
     background-color: rgba(34,34,34,1);
  /*
  &.dark{
    $frente: #{$blanco};
    $fondo: #{$negro};
    color: var($frente);
    background-color: var($fondo);   
  }
  &.light{
    $frente: #{$negro};
    $fondo: #{$blanco};
    color: var($frente);
    background-color: var($fondo);
  }
  */
}