$backgroundMain: whitesmoke;
$backgroundBlue1: rgba(63,81,181,1);
$backgroundTransparent: transparent;
$backgroundWhite1:rgba(255,255,255,1);
$backgroundoBlack:rgba(34,34,34,1);
$hidden: hidden;
$visible: visible;
$none: none;
$centered: center;
$radio: 4px;
$paddingFix: 8px;
$marginFix: 8px;
$sizeText: 36px;
$sizeText2: 24px;
$height: 48px;
$font: Roboto;
$sizeInput: 16px;
.line-through {
    text-decoration: line-through;  
}
a{
    text-decoration: $none;
    color:$backgroundWhite1;
}
p{
    color:$backgroundWhite1;
}
h1{
    overflow: hidden;
    white-space: nowrap;
}
@mixin content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0%;
    padding: 0%;
}
@mixin buttons{
    display: inline;
    color: backgroundWhite1;
    border: 2px solid $backgroundWhite1;
    outline: $none;
    cursor: pointer;
    background-color: $backgroundTransparent;
    padding: $paddingFix;
    border-radius: $radio;
    height: $height;
    font-size: $sizeText2; 
}
@mixin templateBox{
    p{
        text-align: $centered;
        font-size: $sizeText2;   
    }
    ul{
        margin:5%;
        margin-left: 0;
        padding-left: 5%;
        &>li {
            list-style: $none;
            &:hover{
                background-color:  $backgroundWhite1;
            }
            &>div{ 
                list-style:$none;
                border: $none; 
                outline: $none;
                padding: $sizeInput;
                font-size: $sizeText2;
                height: 4rem;
                border-radius: $radio;
                display: flex;
                align-items: $centered; 
                justify-content: $centered;
                background-color: $backgroundBlue1;
                border-color: $backgroundBlue1; 
            }
        }   
    }
}
@mixin NotifyNolength{
    .Nolength{
        justify-content: $centered;
        display: flex;
        text-align: $centered;
        align-items: $centered;
        &>p{
            color: black;
        }
    }
}
@mixin spinner{
    #spinner{
        margin-top: 10%;
        padding: 0;
    }
    .box{
        visibility: $hidden;
    }
    .box2{
        visibility: $hidden;
    }
    .spinnerInvi{
        display:$none;
    }
    .boxVisible{
        visibility: $visible;
    }
    mat-spinner{
        visibility: block;
    }
    .boxSpinner{
        display: flex;
        justify-content: $centered;
    }
}
@mixin card{
    .check{ 
        background-color: $backgroundTransparent;
        border: $none; 
        outline: $none;
        padding: $sizeInput;
        font-size: $sizeText2;
        height: 4rem;
        border-radius: $radio;
        display: flex;
        align-items: $centered;
        text-align: $centered;
        text-overflow: ellipsis;
        max-width: 40%;
        &>p{
            color: $backgroundWhite1;
            font-size: $sizeText2;    
        }
        &>label>input {
            cursor: pointer;
            width: $sizeText2;
            height: $sizeText2;
            margin-right: $sizeText2;
        }  
    }
}
.noItems{
    color: black;
}