@use '../../../assets/Scss/variables';
@use '../../../assets/Scss/media';
*{
    font-family: variables.$fuente; 
}
.container{
    background-color: variables.$fondoBlanco1;
    margin-top: variables.$marginFijo;
    margin-bottom: variables.$marginFijo;
    padding-top: variables.$paddingFijo;
    padding-bottom: variables.$paddingFijo;
    position: fixed;
    border-radius: variables.$radio;
    z-index: 1030;
    top: 22%;
    padding-right: 13%;
    &:hover{
        background-color: variables.$fondoBlanco5;
        backdrop-filter: blur(0.7rem);  
    }
    &:focus{
      background-color: variables.$fondoBlanco5;
    }
    &:active{
      background-color: variables.$fondoBlanco5;
    }
    &>input[type="text"] {
      border: none;
      height: variables.$altura;
    }
    &>form>input{
        background-color: variables.$fondoTransparente;
        border-radius: variables.$radio; 
        font-size: variables.$tamañoLetras2;
        color: variables.$fondoBlanco;
        text-align: start;
        padding: variables.$sizeInput;
        border: none; 
        outline: none;
    }
    &>form>div{
        display: inline;
        padding: 0;
        margin: 0;
        position: relative;
        left: 41%;
        &>button {
            @include variables.buttons;
            &:hover{
                background-color: variables.$fondoBlanco2;
            }
            &:focus{
                background-color: variables.$fondoBlanco2;
            }
            &:active{
                background-color: variables.$fondoBlanco2;
                border-color: variables.$fondoBlanco1;  
            }
        }
    }
}